---
import  MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout>
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sit sapiente corporis, aspernatur eos eum explicabo nobis necessitatibus temporibus quidem esse doloribus commodi earum at veritatis neque. Nulla, necessitatibus voluptatem.</p>
</MainLayout>