---
import Layout from '../layouts/Layout.astro';
import BladeLeft from '../components/Blade-left.astro';
import BladeRight from '../components/Blade-right.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Welcome to Astro.">
	<main class="beneficios-edu">
		
			<Hero
			title="Beneficios para Estudiantes, Profesores e Instituciones Educativas"
			body="Maximiza tu aprendizaje con una PC Lenovo y accede a promociones especiales por ser parte del programa."
			/>

			
	
			<BladeRight
				img="https://static.lenovo.com/las/2022/edu/new-brand/beneficios/descuentos-exclusivos.png"
				logo="//static.lenovo.com/las/2022/public/promo/prueba/lenovo-yoga-logo-desktop.png"
				title="Elegí tu Yoga"	
				body=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur ex iste vero aliquam inventore, labore nostrum nesciunt architecto culpa deleniti ut velit officiis explicabo, consequatur dolorum officia pariatur esse quibusdam."
				cta= "$SiteRoot/d/ofertas"
				cta2="$SiteRoot/d/ofertas"	
			/>
			<BladeLeft
				img="https://static.lenovo.com/las/2022/edu/new-brand/beneficios/descuentos-exclusivos.png"
				logo="//static.lenovo.com/las/2022/public/promo/prueba/lenovo-yoga-logo-desktop.png"
				title="Elegí tu Legion"
				body=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur ex iste vero aliquam inventore, labore nostrum nesciunt architecto culpa deleniti ut velit officiis explicabo, consequatur dolorum officia pariatur esse quibusdam."
				cta= "$SiteRoot/d/ofertas"
				cta2="$SiteRoot/d/ofertas"
			/>
			<BladeRight
				img="https://static.lenovo.com/las/2022/edu/new-brand/beneficios/descuentos-exclusivos.png"
				logo="//static.lenovo.com/las/2022/public/promo/prueba/lenovo-yoga-logo-desktop.png"
				title="Elegí tu Thinkpad"
				body=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur ex iste vero aliquam inventore, labore nostrum nesciunt architecto culpa deleniti ut velit officiis explicabo, consequatur dolorum officia pariatur esse quibusdam."
				cta= " $SiteRoot/d/ofertas"
				cta2=" $SiteRoot/d/ofertas"
			/>
			<BladeLeft
				img="https://static.lenovo.com/las/2022/edu/new-brand/beneficios/descuentos-exclusivos.png"
				logo="//static.lenovo.com/las/2022/public/promo/prueba/lenovo-yoga-logo-desktop.png"
				title="Elegí tu Ideapad"
				body=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur ex iste vero aliquam inventore, labore nostrum nesciunt architecto culpa deleniti ut velit officiis explicabo, consequatur dolorum officia pariatur esse quibusdam. ❤️"
				cta= "$SiteRoot/d/ofertas"
				cta2="$SiteRoot/d/ofertas"
			/>
	</main>
</Layout>

