---
import Layout from "../layouts/Layout.astro";
import BladeLeft from "../components/Blade-left.astro";
import BladeRight from "../components/Blade-right.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
	<main class="beneficios-edu">
		<Hero
			title="PROMOCIONES VIGENTES"
			body="¡COMPRAR UN EQUIPO LENOVO TIENE SUS BENEFICIOS!"
		/>
		<BladeLeft
		img="https://static.lenovo.com/las/2022/public/promo/prueba/1280x660.png"
		logo="//static.lenovo.com/las/2022/public/promo/prueba/lenovo-yoga-logo-desktop.png"
		title="Elegí tu Legion"
		body=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur ex iste vero aliquam inventore, labore nostrum nesciunt architecto culpa deleniti ut velit officiis explicabo, consequatur dolorum officia pariatur esse quibusdam."
		cta="$SiteRoot/d/ofertas"
		cta2="$SiteRoot/d/ofertas"
	/>
		<BladeRight
			img="https://static.lenovo.com/las/2022/public/promo/prueba/1280x660.png"
			logo="//static.lenovo.com/las/2022/public/promo/prueba/lenovo-yoga-logo-desktop.png"
			title="Elegí tu Yoga"
			body=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur ex iste vero aliquam inventore, labore nostrum nesciunt architecto culpa deleniti ut velit officiis explicabo, consequatur dolorum officia pariatur esse quibusdam."
			cta="$SiteRoot/d/ofertas"
			cta2="$SiteRoot/d/ofertas"
		/>
		<BladeLeft
		img="https://static.lenovo.com/las/2022/public/promo/prueba/1280x660.png"
		logo="//static.lenovo.com/las/2022/public/promo/prueba/lenovo-yoga-logo-desktop.png"
		title="Elegí tu Legion"
		body=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur ex iste vero aliquam inventore, labore nostrum nesciunt architecto culpa deleniti ut velit officiis explicabo, consequatur dolorum officia pariatur esse quibusdam."
		cta="$SiteRoot/d/ofertas"
		cta2="$SiteRoot/d/ofertas"
	/>
		<BladeRight
			img="https://static.lenovo.com/las/2022/public/promo/prueba/1280x660.png"
			logo="//static.lenovo.com/las/2022/public/promo/prueba/lenovo-yoga-logo-desktop.png"
			title="Elegí tu Yoga"
			body=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur ex iste vero aliquam inventore, labore nostrum nesciunt architecto culpa deleniti ut velit officiis explicabo, consequatur dolorum officia pariatur esse quibusdam."
			cta="$SiteRoot/d/ofertas"
			cta2="$SiteRoot/d/ofertas"
		/>
	</main>
</Layout>
